# Python related
*.pyc
*.pyo
__pycache__/
*.pyd
.git/
# Virtual environments
venv/
env/
.venv/

# Editor related
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# .env files for environment variables
.env

# Keep src folder and everything inside it
!src/
!src/**/*
